/* Custom Styles */

body {
    background-color: #22ADC9;
}

.footer .container {
    max-width: 95%;
    padding-top: 20px;
}

.footer a {
    float: right;
}

.main {
    padding-top: 120px;
}


/* Header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #777;
    letter-spacing: -1px;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: bold;
}

#logo:hover {
    text-decoration: none;
}

.navbar {
    padding-bottom: 37px;
}